{% extends 'base.html' %}
{% load static %}

<title>Dünya genelinde en iyi tesislerimizde özel indirimler</title>
   
   {% block css %}
   <style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
   .country-list{
    font-size:14px;
    overflow:hidden;
   }
   .background{
    background-image:url(https://cdn0.agoda.net/images/blt2/dealshub/mainbanner.png);
    width:100%;
    height:26vh;
    background-size:cover;
    background-repeat:no-repeat;
    z-index:0;

   }
   .konaklama .ülkeler li{
    margin-top:70px;
    display:inline-block;
    font-size:15px;
    font-weight:500;
    text-align:center;
    align-items:center;
    margin-inline-start:40px;
   }
   .sehirler{
    display:inline-block;
    font-size:20px;
    font-weight:500;
    text-align:center;
    align-items:center;
    margin-bottom:40px;
   }
   .yazı{
    margin-left: 610px;
    margin-top: 18px;
    color: white;
    z-index: 1;
   }
   .kosul{
    margin-left:300px;
    margin-bottom:30px;
    color:white;
   }
   .col-2 .card{
    object-fit:cover;
    display:inline-block;
   }
   .card{
    color:rgb(83, 146, 249, 0.5);
   }
   .card-body{
    max-width:100%;
    overflow:hidden;
   }
   .box{
    width:300px;
    height:200px;
    margin-top:30px;
   }
   @media (max-width: 920px)
   {.yazı{margin-left:340px}}
   @media (max-width: 920px)
   {.kosul{margin-left:140px}}

   @media (max-width: 700px)
   {.yazı{margin-left:240px}}
   @media (max-width: 700px)
   {.kosul{margin-left:160px}}

   @media (max-width: 552px)
   {.yazı,.kosul{margin-left:40px}}

   </style>
   {% endblock css %}
    
    

{% block body %}

  <div class="content-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 30px;">
          <a class="navbar-brand" href="#"><img src="https://cdn6.agoda.net/images/kite-js/logo/agoda/color-default.svg" style="width: 70px;" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link text-dark" href="#">Konaklama</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Uçuşlar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Havaalanı Transferi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Apartlar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Ulaşım</a>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Otobüs</a>
                  <a class="dropdown-item" href="#">Tren</a>
                  <a class="dropdown-item" href="#">Feribot</a>
                  <a class="dropdown-item" href="#">Araç Kiralama</a>
                  <a class="dropdown-item" href="#">Apartlar</a>
                </div>
              </li>
             
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-left: 300px;">
              
              <button class="btn btn-outline-danger my-2 my-sm-0 text-danger" type="submit">Mekanınızı Yayınlayın</button>
              <button class="btn  my-2 my-sm-0 text-primary" type="submit">Giriş Yapın</button>
              <button class="btn btn-outline-primary my-2 my-sm-0 text-primary" type="submit">Hesap Oluşturun</button>
            </form>
          </div>
        </nav>
           
        <div class="background" style="width:100%;">
          <img src="" style="width:100px;" alt="">
          <p class="yazı" style="font-size:45px;">Günün Fırsatları</p>
          <p class="kosul" style="font-size:20px;">Anlık fırsatlar. Başka yerde bulamazsınız. Bu sayfayı favorilerinize kaydedin ve her gün kontrol edin.</p>
        </div>
          
         
        </div>
   
       
        
       
          
        
              <div class="row mt-5 ml">

                  <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
  
                  </div>
                  <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                        <h6>Uygulanabilir Ürünler</h6>
                        
                          <label>
                            <input type="checkbox">
                            <span>Oteller ve Evler</span>
                          </label><br>
                          <label>
                            <input type="checkbox">
                            <span>Uçuşlar</span>
                          </label><br>
                          <label>
                            <input type="checkbox">
                            <span>Uçuş+Otel</span>
                          </label>
                          
                        <br><br>
                        <h6>Fırsatlar</h6>
                        
                          <label>
                            <input type="checkbox">
                            <span>Kuponlar</span>
                          </label><br>
                          <label>
                            <input type="checkbox">
                            <span>Kredi Kartı</span>
                          </label><br>
                          <label>
                            <input type="checkbox">
                            <span>Özel Kampanyalar</span>
                          </label><br>
                          <label>
                            <input type="checkbox">
                            <span>Sınırlı Süreli Teklifler</span>
                          </label><br>          
                              
                  </div>

                  <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 16rem; height:21rem;">
                      <img class="card-img-top" src="https://cdn0.agoda.net/images/emailmarketing/contentcard/upto5_mspa.png" alt="Card image cap">
                      <div class="card-body">
                        <h6 class="card-title" style="font-size: 14px;">70 € KADAR İNDİRİM FIRSATI</h6>
                        <p class="card-text" style="font-size: 14px;">* Minimum harcama sınırı yoktur.</p>
                        <a href="#" class="btn btn-primary" style="align-items:center; display:block;">Kuponu Alın</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 16rem; height:21rem;">
                      <img class="card-img-top" src="https://cdn0.agoda.net/images/emailmarketing/contentcard/upto8_mspa.png" alt="Card image cap">
                      <div class="card-body">
                        <h6 class="card-title" style="font-size: 14px;">80 € KADAR İNDİRİM FIRSATI</h6>
                        <p class="card-text" style="font-size: 14px;">Min. harcama 102 €</p>
                        <a href="#" class="btn btn-primary" style="align-items:center; display:block;">Kuponu Alın</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 16rem; height:21rem;">
                      <img class="card-img-top" src="https://cdn0.agoda.net/images/emailmarketing/contentcard/blocklist-removal-web.png" alt="Card image cap">
                      <div class="card-body">
                        <h6 class="card-title" style="font-size: 14px;">Özel Fırsat Bileti!</h6>
                        <p class="card-text" style="font-size: 14px; overflow:hidden;">Seçili otellerde özel fiyatlardan faydalanmak için kullanın!</p>
                        <a href="#" class="btn btn-primary" style="align-items:center; display:block;">Kullan</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                      
                  </div>
                  
              </div>
                  

            <div class="row mt-2">
              <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">

              </div>
              <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                  
              </div>
              <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 16rem; height:21rem;">
                  <img class="card-img-top" src="https://cdn0.agoda.net/images/emailmarketing/contentcard/bigger-bargains-web-tr.png
                  " alt="Card image cap">
                  <div class="card-body">
                    <h6 class="card-title" style="font-size: 14px;">Bir sonraki seyahatinizde 20%'ye...</h6>
                    <p class="card-text" style="font-size: 14px;">Daha Büyük İndirimler ile daha fazla tasarruf edin</p>
                    <a href="agoda-rezervasyon.html" class="btn btn-primary" style="align-items:center; display:block;">Hemen Rezervasyan Yap</a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 16rem; height:21rem;">
                  <img class="card-img-top" src="https://cdn6.agoda.net/images/WebCampaign/NewWebDealsPage/Highlight_AgodaVIP_1.png" alt="Card image cap">
                  <div class="card-body">
                    <h6 class="card-title" style="font-size: 14px;">AgodaVIP Programı</h6>
                    <p class="card-text" style="font-size: 14px;">VIP üyelerimize özel avantajlar ve fırsatlar hakkında daha fazla bilgi...</p>
                    <a href="#" class="btn btn-primary" style="align-items:center; display:block;">Daha fazla bilgi</a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 16rem; height:21rem;">
                  <img class="card-img-top" src="https://cdn0.agoda.net/images/emailmarketing/custmkt/deals_email_elements/internationalDeals.png" alt="Card image cap">
                  <div class="card-body">
                    <h6 class="card-title" style="font-size: 14px;">Uluslararası Fırsatlar</h6>
                    <p class="card-text" style="font-size: 14px;">Up to 30% off International hotel rates</p>
                    <a href="#" class="btn btn-primary" style="align-items:center; display:block;">Fırsatları gör</a>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2  col-lg-3 col-md-6 col-sm-6">
                  
              </div>
              
          </div>
              </div>
   
              <hr>
              
          <div class="row">
            
            <h4 style="text-align:center; margin-bottom:30px;">Kuponlar Nasıl Uygulanır?</h4>
             <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12"><img src="https://cdn0.agoda.net/images/emailmarketing/js_elements/full-img-2x.png" style="width: 1100px; margin-left:200px;" alt=""></div> 
            
              <div class="col-4"><div class="box" style="text-align: center; margin-left:200px;"><h6 style="font-size: 14px;">Kupon bulup kullanın. Promosyon kodu varsa, kodu kopyalamayı unutmayın!</h6></div></div>
              <div class="col-4"><div class="box" style="text-align: center; margin-left:100px;"><h6 style="font-size: 14px;">Kuponlarınızı kullanmak için "Kupon uygulanabilir" etiketi olan tesisleri arayın</h6></div></div>  
              <div class="col-4"><div class="box" style="text-align: center; margin-right:30px;"><h6 style="font-size: 14px;">Ödemeyi tamamlamadan önce kuponunuzu <br> / promosyon kodunuzu uygulamayı <br> unutmayın</h6></div></div>
                 
          </div>
          
             
              
             
             
  
  
 

{% endblock body %}
  

</html>