{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
    .card {
      background-color: #fff;
      border-radius: 3px;
      padding: 20px;
    
      display: flex;
      flex-direction: column;
    }
    
    .title {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    
    .form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    
    .group {
      position: relative;
    }
    
    .form .group label {
      font-size: 14px;
      color: rgb(99, 102, 102);
      position: absolute;
      top: -10px;
      left: 10px;
      background-color: #fff;
      transition: all .3s ease;
    }
    
    .form .group input,
    .form .group textarea {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
      outline: 0;
      width: 100%;
      background-color: transparent;
    }
    
    .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
      top: 10px;
      background-color: transparent;
    }
    
    .form .group input:focus,
    .form .group textarea:focus {
      border-color: #3366cc;
    }
    
    .form .group input:focus+ label, .form .group textarea:focus +label {
      top: -10px;
      left: 10px;
      background-color: #fff;
      color: #3366cc;
      font-weight: 600;
      font-size: 14px;
    }
    
    .form .group textarea {
      resize: none;
      height: 100px;
    }
    
    .form button {
      background-color: #3366cc;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .form button:hover {
      background-color: #27408b;
    }
    
    .material-checkbox{
      cursor: pointer;
    }
    .material-checkbox:hover{
      color: #27408b;
    }
    .div-login{
      display: flex;
      justify-content: space-around;
      
    }
    .div-login a{
      border: none;
      font-weight: 600;
      width: 100%;
      border-bottom: 3px solid gray;
      border-radius: 0%;
      text-decoration: none;
      color: #2a2a2e;
     
    }
    .div-login .a-active{
      border-bottom: 3px solid blue;
      color: blue;


    }
   .text{
      font-weight: 500;
      font-size: 15px;
      padding: 0%;
      margin: 0%;
   }
   .account-button{
    background-color: white;
    border: none;
    border: 1px solid blue;
    border-radius: 5px;
    transition: ease 0.5s;
    color: blue;
    font-weight: 600;
   }
   .account-button:hover{
    transform: scale(1.03);
    transition: ease 0.5s;
   }
   @media (max-width:900px) {
      .text{
          font-weight: 500;
          font-size: 11px;
       }
   }
   @media (max-width:500px) {
      .text{
          font-weight: 500;
          font-size: 8px;
       }
   }
  </style>
{% endblock css %}
{% block body %}
 <!-- eğer kullanıcı girişli ise bu sayfa gösterilmeyecek -->
{% if request.user.is_authenticated %}

  <h1>zaten giriş yaptınız</h1>
{% else %}
  
<!-- navbar -->

<div class="container d-flex justify-content-center">
  <div class="card mt-5 pt-5 ">
    <span class="title">Giriş Yap</span>
    <p>Güvenliğiniz için, bilgilerinizi görmek için lütfen hesabınıza giriş yapın</p>
    <div class="div-login">
        <a href="" class=" a-active text-center   p-2 " name="email" data-form="eposta"  >E-Posta</a>
        <a href="" class=" text-center   p-2 "  data-form="mobil"  >Mobil </a>
    </div>
    <form class="form form-login-email   animate__animated animate__fadeIn   " method="POST">
      {% csrf_token %}
      <div class="group">
      <input placeholder="‎" type="text" name="email" required="">
      <label for="name">Email Girin</label>
      </div>
    
        <div class="group">
          <input class="password1"  name="password" placeholder="‎" type="password" required="">
          <label for="name">Şifre Girin</label>
          </div>
         
                          
      <button   type="submit" name="button"  value="email" >Giriş Yap</button>
      {% if hata %}
      <div class="alert alert-danger mt-3" role="alert">
        {{hata}}
      </div>
      {% endif %}
      <div class="div d-flex justify-content-between mt-4">
        <a href="" class="text-decoration-none" ><span>Hesap Oluştur</span></a>
        <a href="" class="text-decoration-none" ><span>Şifremi Unuttum</span></a>
      </div>
    </form>
    <form class="form form-login-mobil  animate__animated animate__fadeIn " method="POST" >
      {% csrf_token %}
      <div class="group">
        <input placeholder="‎" name="phone" type="number" required="">
        <label for="name">telefon</label>
        </div>
        <div class="group">
          <input class="password1"  name="password" placeholder="‎" type="password" required="">
          <label for="name" >Şifre Girin</label>
          </div>
          <button   type="submit" name="button" value="mobil" >Giriş Yap</button>
          {% if hata %}
          <div class="alert alert-danger mt-3" role="alert">
            {{hata}}
          </div>
          {% endif %}
          <div class="div d-flex justify-content-between mt-4">
              <a href="" class="text-decoration-none" ><span>Hesap Oluştur</span></a>
              <a href="" class="text-decoration-none" ><span>Şifremi Unuttum</span></a>
            </div>
    </form>
       
           
                            
       
      
      <div class="row mt-5">
        <div class="col-3 "> <hr> </div>
        <div class="col-6  text-center align-self-center  "> <p class="text" >veya şu hesabınızla oturum açın</p> </div>
        <div class="col-3 "> <hr> </div>
      </div>
      <div class="row mt-4">
        <div class="col-12     p-0 p-1 ">
          <button class="account-button w-100 d-flex justify-content-center align-items-center p-2" ><img src="https://cdn6.agoda.net/images/universal-login/google-logo-v2.svg"  class="me-2  
           " ><span class="d-inline-block p-0 m-0" >Google</span></button>
        </div>
        <div class="col-6      p-0 p-1 ">
          <button class="account-button w-100 d-flex justify-content-center align-items-center p-2" >
            <i class="fa-brands fa-facebook me-2"></i><span class="d-inline-block p-0 m-0" >Facebook</span></button>
        </div>
        <div class="col-6      p-0 p-1 ">
          <button class="account-button w-100 d-flex justify-content-center align-items-center p-2" >
            <i class="fa-brands fa-apple me-2" style="color: #0f0f0f;"></i><span class="d-inline-block p-0 m-0" >Apple</span></button>
        </div>
      </div>
  </div>
</div>
{% endif %}

   
    

  

{% endblock body %}
{% block js %}

{% endblock js %}